@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

/* Reset da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid */
.container {
    width: 80vw;
    margin: 0 auto;
}