.container-notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container-notfound h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 7vw;
    color: white;
}